
.vs/

src/BankAccount.WebApi/bin/

src/BankAccount.WebApi/obj/

src/BankAccount.Application/bin/

src/BankAccount.Application/obj/

src/BankAccount.Domain/bin/

src/BankAccount.Domain/obj/

src/BankAccount.Infrastructure/bin/

src/BankAccount.Infrastructure/obj/

tests/BankAccount.WebApi.IntegrationTests/bin/

tests/BankAccount.WebApi.IntegrationTests/obj/
